<header class="menu">
  <h1 class="menu__logo">Restaurant</h1>
  <nav class="menu__nav" role="navigation">
    <ul>
      <li><a routerLink="">Products</a></li>
     <!-- <li><a routerLink="order">Cart</a></li> -->
     <li><app-client-order-status></app-client-order-status></li>
      <li>
        <a>Manager</a>
        <ul class="dropdown">
          <li><a routerLink="category-manager">Category</a></li>
          <li><a routerLink="products-manager">Products</a></li>
          <li><a routerLink="order-manager">Orders</a></li>
          <li><a routerLink="user-manager">Users</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
